.hotel-search{
	background-color: @black;
	color: @white;
	margin-top: 10px;
	padding: 10px 0;
	.judul{
		font-weight: bold;
	}
	.btn-pencarian{
		float: right;    
		padding: 5px;
	}
}

.hotel-pilihan{ 
	h3{
		font-weight: 700;
	}
}

.judulfasilitas{
	margin: 0;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 10px;
}

.fasilitas{  
	ul{
		list-style: none;
		padding-left: 15px;
		margin: 0;
		li{
			clear: both;
			padding-top: 10px;
		}
	}
	  
}

.tempat-menarik{
	padding: 30px 0; 
	li{
		clear: both;
		padding-top: 10px;
	}
}

.harga-mulai{   
	strike{
		font-size: 14px;
		color: @abu-abu2; 
	} 
	.harga{
		color: @red;
		font-size: 24px; 
		font-weight: 700;
	}
	.button-pesan{
		margin-top: 52px;
	}
}

.room{
	.download-aplikasi{
		background-color: @blue2; 
		color: @white;
		padding: 10px 0; 
		font-size: 20px;
		span{ 
			margin-left: 15px;
		}
	}
	.hotel-room{
		margin: 30px 0;
		background-color: @abu-abu1;
		border: 1px solid @blue2;
	}
}
