.hotel-search{
	background-color: @black;
	color: @white;
	margin-top: 10px;
	padding: 10px 0;
	.judul{
		font-weight: bold;
	}
	.btn-pencarian{
		float: right;  
		.btn-blue{
			border-radius: 2px;
		}
	}
}