.content-hotel-list{
    margin-top: 60px;
    margin-bottom: 40px;
}



#filter-hotel{
 .box1,.box2,.box3{
  padding: 10px 0;
  h4{
    border-bottom: 1px solid @abu-abu2;
    padding-bottom: 5px;
  }
 }

    .list-star{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            .checkbox{
                margin-top: 0;
            }
        }
    }
}



.list-hotel{
    .bungkus-rekomendasi{
        padding: 20px 0;
        &:first-child{
            padding-top:0;
        }  
    }

    .download-aplikasi{
            background-color: #67a3d9;
    color: #ffffff;
    padding: 10px 0;
    font-size: 16px; 

    }
    .harga-mulai{
        padding-top: 20px;
    }
    .hotel-rekomen{
        font-size: 20px;
        font-weight: bold;
        color: @blue2;
        margin: 50px 0;
        padding: 0 65px;
    }
    .nama-hotel{
        font-size: 20px;
        font-weight: bold;
    }
    .rating{ 
        float: right;
        .circle{
            font-weight: bold;
            width: 40px;
            height: 40px;
            text-align: center;
            border: 2px solid @blue2;
            border-radius: 100%;
            background-color: @white;
            padding: 8px 0;
        }
    }
    .button-pesan{
        margin-top: 90px;
        width: 180px;
        float: right;
        button{
            font-weight: bold;
        }
    }
    .gambar-rekomendasi{
        width: 100%;
    }
}

