.icon-nav1{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-head1.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-nav2{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-head2.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-nav3{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-head3.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.asd{
    background-color:red;
}