.icon-nav1{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-head1.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-nav2{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-head2.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.icon-nav3{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-head3.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
 
.icon-parking, .icon-wifi, .icon-restoran, .icon-kolamrenang, .icon-cs, .icon-refund{
    display: inline-block;
    float: left; 
    margin-right: 10px;
    background-image: url(../img/icon-fasilitas.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.icon-transport{
    display: inline-block;
    float: left; 
    margin-right: 10px; 
    background-image: url(../img/icon-fasilitas.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 30px;
}

.icon-parking{
    background-position: -2px -1px;
}

.icon-wifi{
    background-position: -2px -28px;
}

.icon-restoran{
    background-position: -2px -52px;
}

.icon-kolamrenang{
    background-position: -2px -77px;
}

.icon-cs{
    background-position: -2px -104px;
}

.icon-transport{
    background-position: -2px -132px;
}

.icon-refund{
    background-position: -2px -157px;
} 

.icon-trans,.icon-payment,.icon-harga,.icon-offer{
    display: block;  
    background-image: url(../img/sprite-home.png);
    background-repeat: no-repeat;
    width: 125px;
    height: 107px;
    margin: 0 auto;
} 

.icon-payment{
    background-position: -135px 0; 
}
.icon-harga{
    background-position: -270px 0;
}
.icon-offer{
    background-position: -415px 0;
} 




.star1,
.star2,
.star3,
.star4,
.star5{
display: block;
background-image: url(../img/star.png);
width:18px;
height:18px;
}

.star2{
    background-repeat: repeat-x;
    width: 36px;
}
.star3{
    background-repeat: repeat-x;
    width: 54px;
}
.star4{
    background-repeat: repeat-x;
    width: 72px;
}
.star5{
    background-repeat: repeat-x;
    width: 90px;
}
