.bgimage {
  width:100%;
  height:350px;
  background: url('../img/mb1.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}


.mainbanner{
	.text-banner{
		padding-top: 60px;
		color: @white;
	}
}
.trans-box{

}
.searchbox{
	background-color:rgba(255, 255, 255, 0.5);  
	padding: 15px;
	text-align: center;
	padding-bottom: 0;
	.hotel-search,.checkin,.checkout,.user{
		display: inline-block;
	}
	.hotel-search{
		width: 300px;
	}
	.checkin,.checkout{
		width: 135px;
	}
	 .dropdown{
	 	ul{
	 		li{
	 			input{
	 				width: 90px;
	 			}
	 			padding: 15px;
	 		}
	 	}
	 }
}