.bgimage {
  width:100%;
  height:350px;
  background: url('../img/mb1.jpg');
  background-repeat: no-repeat;
  background-position: center;  
}


.mainbanner{
	.text-banner{
		padding-top: 60px;
		color: @white;
	}
}
 
 


.cara-memesan{
	padding-top: 100px;
	padding-bottom: 80px;
	border: 1px solid @black;
	h2{
		font-size: 30px;
		font-weight: 500;
	}
	p{
		text-align: center;
		font-size: 18px;
	}
	a{
		color: @blue;
		font-size: 18px;
	}
}