.wizard{
	background-color: @blue2;
}


.breadcrumb-step{
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\f137"; 
}
}


.pemesanan{
	.wrap-box{
		background-color: @abu-abu1;
		padding: 10px;
	h4{
		margin-top: 0;
	}
	hr{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.img-wrp{
		padding-right: 0; 
	}
		.detail-hotel{
			ul{
				padding-left: 0;
				list-style: none;
				font-size: 12px;
				li{
					line-height: 1.5;
					.cat,.divider,.data,.cat2{
						display: inline-block;
					}
					.cat{
						width: 65px;
					}
					.cat2{
						width: 83px;
					}
				}
			}
		}
	}
}