@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
body {
  font-family: 'Rubik', sans-serif;
}
.navbar-boboyuk {
  background-color: white;
  margin-bottom: 0;
  border: none !important;
  color: white;
}
.icon-nav1 {
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: url(../img/icon-head1.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.icon-nav2 {
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: url(../img/icon-head2.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.icon-nav3 {
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: url(../img/icon-head3.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.icon-parking,
.icon-wifi,
.icon-restoran,
.icon-kolamrenang,
.icon-cs,
.icon-refund {
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: url(../img/icon-fasilitas.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.icon-transport {
  display: inline-block;
  float: left;
  margin-right: 10px;
  background-image: url(../img/icon-fasilitas.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 30px;
}
.icon-parking {
  background-position: -2px -1px;
}
.icon-wifi {
  background-position: -2px -28px;
}
.icon-restoran {
  background-position: -2px -52px;
}
.icon-kolamrenang {
  background-position: -2px -77px;
}
.icon-cs {
  background-position: -2px -104px;
}
.icon-transport {
  background-position: -2px -132px;
}
.icon-refund {
  background-position: -2px -157px;
}
.icon-trans,
.icon-payment,
.icon-harga,
.icon-offer {
  display: block;
  background-image: url(../img/sprite-home.png);
  background-repeat: no-repeat;
  width: 125px;
  height: 107px;
  margin: 0 auto;
}
.icon-payment {
  background-position: -135px 0;
}
.icon-harga {
  background-position: -270px 0;
}
.icon-offer {
  background-position: -415px 0;
}
.bgimage {
  width: 100%;
  height: 350px;
  background: url('../img/mb1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.mainbanner .text-banner {
  padding-top: 60px;
  color: white;
}
.cara-memesan {
  padding-top: 100px;
}
.cara-memesan .content-memesan {
  padding-bottom: 70px;
  border-bottom: 1px solid #242323;
  margin-bottom: 30px;
  text-align: center;
}
.cara-memesan .content-memesan h2 {
  font-size: 30px;
  font-weight: 500;
}
.cara-memesan .content-memesan p {
  text-align: center;
  font-size: 18px;
}
.cara-memesan .content-memesan a {
  display: block;
  margin-top: 40px;
  color: #6da2d6;
  font-size: 18px;
}
.tujuan-populer .heading-title {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.tujuan-populer .wrap-populer {
  margin: 15px 0;
  position: relative;
}
.tujuan-populer .wrap-populer .pict-populer img {
  width: 100%;
  min-height: 280px;
}
.tujuan-populer .wrap-populer .view {
  background-color: #f8f8f8;
  height: 280px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.tujuan-populer .wrap-populer .view .mask {
  width: 100%;
  height: 280px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.tujuan-populer .wrap-populer .view img {
  display: block;
  position: relative;
}
.tujuan-populer .wrap-populer .view-efect .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-animation: bounceY 0.9s linear;
  -moz-animation: bounceY 0.9s linear;
  -ms-animation: bounceY 0.9s linear;
  animation: bounceY 0.9s linear;
  color: white;
}
.tujuan-populer .wrap-populer .view-efect .mask .content-text {
  position: relative;
  top: 25%;
  padding: 15px;
}
.tujuan-populer .wrap-populer .view-efect .mask .content-text a {
  margin-top: 30px;
  min-width: 150px;
}
.tujuan-populer hr {
  border-color: #242323;
  margin-top: 80px;
  margin-bottom: 30px;
}
.alt-tujuan-populer .heading-title {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.alt-tujuan-populer .list-city {
  margin-top: 40px;
  margin-bottom: 70px;
  float: left;
  width: 100%;
}
.alt-tujuan-populer .list-city ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
.alt-tujuan-populer .list-city ul li a {
  text-decoration: none;
  color: #555555;
}
.downloadapp {
  background-color: #242323;
  padding: 30px 0;
  color: white;
}
.downloadapp .text-downloadapp {
  margin-top: 75px;
}
.downloadapp .text-downloadapp h3 {
  font-size: 34px;
}
.downloadapp .text-downloadapp h4 {
  font-style: 24px;
  margin-bottom: 30px;
}
.whyus {
  margin-top: 70px;
  margin-bottom: 70px;
}
.whyus .heading-title {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.whyus .point1,
.whyus .point2,
.whyus .point3,
.whyus .point4 {
  text-align: center;
  margin-top: 70px;
  clear: both;
}
.whyus .point1 i,
.whyus .point2 i,
.whyus .point3 i,
.whyus .point4 i {
  text-align: center;
}
.whyus .point1 .exp h3,
.whyus .point2 .exp h3,
.whyus .point3 .exp h3,
.whyus .point4 .exp h3 {
  font-weight: bold;
  font-size: 20px;
}
.ui-datepicker {
  text-align: center;
}
.ui-datepicker .ui-widget-header {
  border: none !important;
  background: #6da2d6 !important;
  color: white;
  font-weight: bold;
}
.ui-datepicker .ui-widget-header .ui-state-default {
  border: none;
  background: none;
  font-weight: normal;
  color: #454545;
}
.ui-datepicker .ui-widget-header .ui-state-highlight {
  border: 0.5px solid #6da2d6;
  background: white;
  color: #454545;
  border-radius: 0;
}
.ui-datepicker .ui-widget-header .ui-state-highlight a {
  color: white;
  text-align: center;
}
.ui-datepicker .ui-widget-content .ui-state-default {
  border: none;
  background: none;
  font-weight: normal;
  color: #454545;
}
.ui-datepicker .ui-widget-content .ui-state-highlight {
  border: 0.5px solid #6da2d6;
  background: white;
  color: #454545;
  border-radius: 0;
}
.ui-datepicker .ui-widget-content .ui-state-highlight a {
  color: white;
  text-align: center;
}
.ui-datepicker .ui-state-default {
  border: none;
  background: none;
  font-weight: normal;
  color: #454545;
}
.ui-datepicker .ui-state-highlight {
  border: 0.5px solid #6da2d6;
  background: white;
  color: #454545;
  border-radius: 0;
}
.ui-datepicker .ui-state-highlight a {
  color: white;
  text-align: center;
}
.ui-datepicker .ui-state-active {
  border: none;
  background: #6da2d6;
  color: white;
  border-radius: 0;
}
.ui-datepicker .ui-state-highlight,
.ui-datepicker .ui-state-default {
  text-align: center !important;
}
.datepickerjquery .ui-widget-header {
  background-color: #6da2d6 !important;
}
.ui-datepicker-month,
.ui-datepicker-year {
  background-color: #6da2d6;
  color: white;
  border: none;
}
.slider-range .ui-widget-header,
.time-slider .ui-widget-header {
  border: 1px solid #dddddd;
  background: #168b83;
  color: #333333;
  font-weight: bold;
}
.slider-range .ui-state-default,
.time-slider .ui-state-default {
  border: 3px solid #168b83;
  background: #f6f6f6;
  font-weight: bold;
  font-size: 20px;
  color: #454545;
  border-radius: 0;
}
.slider-range .ui-state-active,
.slider-range .ui-widget-content .ui-state-active,
.slider-range .ui-widget-header .ui-state-active,
.time-slider .ui-state-active,
.time-slider .ui-widget-content .ui-state-active,
.time-slider .ui-widget-header .ui-state-active {
  border: none;
  background: #168b83;
  font-weight: normal;
  color: white;
}
.inner-addon {
  position: relative;
}
/* style icon */

.inner-addon .fa {
  position: absolute;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 16px;
  pointer-events: none;
  z-index: 1;
}
.inner-addon .fa.fa-search {
  padding-top: 14px;
}
.inner-addon-small .fa {
  position: absolute;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 11px;
  pointer-events: none;
  z-index: 1;
}
.inner-addon-normal .fa {
  position: absolute;
  padding-left: 5px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 11px;
  pointer-events: none;
  z-index: 1;
}
.inner-addon-normal2 .fa {
  position: absolute;
  padding-left: 22px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 11px;
  pointer-events: none;
  z-index: 1;
}
/* align icon */

.left-addon .fa {
  left: 0px;
}
.right-addon .fa {
  right: 0px;
}
/* add padding  */

.left-addon > input {
  padding-left: 25px;
}
.left-addon > select {
  padding-left: 25px;
}
.right-addon > input {
  padding-right: 25px;
}
.left-addon > button {
  padding-left: 25px;
  padding-right: 5px;
  width: 100%;
  text-align: left;
}
.right-addon > button {
  padding-right: 25px;
}
.btn,
a {
  border-radius: 0 !important;
}
.btn-blue {
  background-color: #67a3d9;
  color: white;
  border: 1px solid #67a3d9;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.btn-blue:active,
.btn-blue:focus,
.btn-blue:hover {
  background-color: white;
  border: 1px solid #67a3d9;
  color: #67a3d9 !important;
}
.btn-red {
  background-color: #c02626;
  color: white;
  border: 1px solid #c02626;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.btn-red:active,
.btn-red:focus,
.btn-red:hover {
  background-color: white;
  border: 1px solid #c02626;
  color: #c02626 !important;
}
.btn-transparant {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.btn-transparant:active,
.btn-transparant:focus,
.btn-transparant:hover {
  background-color: #67a3d9;
  border: 1px solid #67a3d9;
  color: white !important;
}
footer {
  background-color: #6da2d6;
  color: white;
  padding: 60px 0;
}
footer h4 {
  font-size: 16px;
  font-weight: 600;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  padding-top: 20px;
}
footer ul li img {
  display: inline-block;
  padding-right: 5px;
}
footer .tentang {
  margin-top: -30px;
}
footer .tentang li {
  padding-top: 15px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover,
footer a:active {
  text-decoration: none;
}
.hotel-search {
  background-color: #242323;
  color: white;
  margin-top: 10px;
  padding: 10px 0;
}
.hotel-search .judul {
  font-weight: bold;
}
.hotel-search .btn-pencarian {
  float: right;
  padding: 5px;
}
.hotel-pilihan h3 {
  font-weight: 700;
}
.judulfasilitas {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 10px;
}
.fasilitas ul {
  list-style: none;
  padding-left: 15px;
  margin: 0;
}
.fasilitas ul li {
  clear: both;
  padding-top: 10px;
}
.tempat-menarik {
  padding: 30px 0;
}
.tempat-menarik li {
  clear: both;
  padding-top: 10px;
}
.harga-mulai strike {
  font-size: 14px;
  color: #bcbcbc;
}
.harga-mulai .harga {
  color: #c02626;
  font-size: 24px;
  font-weight: 700;
}
.harga-mulai .button-pesan {
  margin-top: 52px;
}
.room .download-aplikasi {
  background-color: #67a3d9;
  color: white;
  padding: 10px 0;
  font-size: 20px;
}
.room .download-aplikasi span {
  margin-left: 15px;
}
.room .hotel-room {
  margin: 30px 0;
  background-color: #f0f0f0;
  border: 1px solid #67a3d9;
}
.SearchBox {
  padding-top: 15px;
}
.SearchBox .tab-content {
  padding: 15px;
  padding-bottom: 0;
  margin-top: -1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.SearchBox .tab-content .input-lg {
  font-size: 14px !important;
}
.SearchBox .tab-content .pane1 .form-control-pict {
  position: absolute;
  top: 0;
  /* right: 0; */
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.SearchBox .tab-content .pane1 .LocationHotel,
.SearchBox .tab-content .pane1 .Date,
.SearchBox .tab-content .pane1 .PoR,
.SearchBox .tab-content .pane1 .ButtonSearch {
  float: left;
  margin-right: 5px;
}
.SearchBox .tab-content .pane1 .LocationHotel {
  width: 290px;
}
.SearchBox .tab-content .pane1 .Date {
  width: 135px;
  cursor: pointer;
}
.SearchBox .tab-content .pane1 .PoR {
  width: 200px;
}
.SearchBox .tab-content .pane1 .PoR .DropdownPoR {
  min-width: 85px;
  padding: 10px;
  border-radius: 0px;
}
.SearchBox .tab-content .pane1 .ButtonSearch {
  width: 130px;
  margin-right: 0px;
}
.SearchBox .tab-content .pane1 .ButtonSearch button,
.SearchBox .tab-content .pane1 .ButtonSearch a {
  text-align: center;
  text-decoration: none;
}
.container {
  min-width: 970px !important;
  max-width: 970px;
}
body {
  min-width: 970px !important;
  font-family: 'Rubik', sans-serif;
}
input,
textarea,
select {
  border-radius: 0 !important;
}
select {
  -ms-appreance: none;
  -moz-appreance: none;
  -webkit-appearance: none;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -webkit-border-radius: 0px;
  line-height: 1.3333 !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #555555 !important;
  opacity: 1;
  /* Firefox */

}
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #dddddd;
  clear: both;
  padding: 14px;
}
#login-dp .social-buttons {
  margin: 12px 0;
}
#login-dp .social-buttons a {
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb {
  color: white;
  background-color: #3b5998;
}
.btn-fb:hover {
  color: white;
  background-color: #496ebc;
}
.btn-tw {
  color: white;
  background-color: #55acee;
}
.btn-tw:hover {
  color: white;
  background-color: #59b5fa;
}
@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: white;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
